.navbar-fedora {
    background-color: #38414E;
}

.navbar-course-hero.is-scrolling {
    background-color: #38414E;
}

.is-scrolling {
    background-color: #38414E;
}

.nav.navbar-nav > li .fedora-navbar-link.active, .nav.navbar-nav > li .fedora-navbar-link:hover {
    background-color: #39949A !important;
    color: #ffffff !important;
}

li.section-item a.item:hover {
    background-color: rgba(253, 185, 19, 0.7) !important;
}

li.next-lecture a.item {
    background-color: rgba(253, 185, 19, 0.6) !important;
}

.next-lecture-wrapper {
    background-color: #f8eed5 !important;
}

.testimonial-item {
    margin-top: 30px;
}

.testimonial-heading h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

footer {
    background-color: #38414E;
}
